[Desktop Entry]
Type=Application
Name=Atlas
GenericName=Maps
Comment=View maps
Exec=com.github.ryonakano.atlas
Icon=com.github.ryonakano.atlas
Categories=GTK;Utility;Maps
