[Desktop Entry]
Type=Application
Name=Atlas
GenericName=Maps
Comment=View where to go
Exec=com.github.ryonakano.atlas
Icon=com.github.ryonakano.atlas
Categories=GTK;Utility;Maps
