[Desktop Entry]
Type=Application
Name=Atlas
GenericName=Maps
Comment=View maps
Exec=com.github.ryonakano.atlas-maps
Icon=com.github.ryonakano.atlas-maps
Categories=GTK;Utility;Maps
